@import '../breakpoints/breakpoints.scss';

.HomePage{
    width: 100%;
    grid-area: page;
    position: absolute;
    z-index: -1;

    .loader{ 
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        
        .card-section{
            height: 100%;
            width: 100%;
            display: grid;
            grid-gap: 1em;
            justify-content: center;
            grid-template-columns: repeat(auto-fill, 300px);

            &:empty{
                display: none;
            }
        }

        .no-cards{
            display: grid;
            align-items: center;
            justify-items: center;
            grid-gap: 1em;

            img{
                padding: 1.5em;
                border-radius: 100%;
                width: 350px;
                height: 300px;
            }
        }
    }
}


@include media('<=tablet'){
    .HomePage{
        .loader{
            .no-cards{
                img{
                    width: 180px;
                    height: 180px;
                }
            }
        }
    }
}
