.item{
    width: 100%;
    display: flex;
    align-items: center;

    .notepad{
            word-break: break-all;
            width: 80%;
            text-align: left;
    }
    

    .item-image{
        width: 50px;
        height: 50px;
    }

    #name{
        background: url('./img/name-icon.svg') no-repeat;
        background-position: center;
        background-size: 25px;
    }

    #sexo{
        background: url('./img/sex-icon.svg') no-repeat;
        background-position: center;
        background-size: 30px;
    }

    #date{
        background: url('./img/date-icon.svg') no-repeat;
        background-position: center;
        background-size: 30px;
        transition: 0.3;
    }

    #hair{
        background: url('./img/hair-icon.svg') no-repeat;
        background-position: center;
        background-size: 30px;
        transition: 0.3;
    }

    #goal{
        background: url('./img/goal-icon.svg') no-repeat;
        background-position: center;
        background-size: 30px;
        transition: 0.3;
    }

    #notepad{
        background: url('./img/notepad-icon.svg') no-repeat;
        background-position: center;
        background-size: 30px;
        transition: 0.3;
    }

    input{
        width: 80%;
        height: 25px;
        text-align: center;
        border: 1px solid #dedede;
        border-radius: 4px;
    }

}