@import '../breakpoints/breakpoints.scss';

.above-all{
    width: auto;

    .image-scroll{

        width:500px;
        height: auto;      
        position:relative;
        background-attachment: fixed;
        font-weight: bold;

        .image-section{
            width: 100%;
            height: 450px;
            display: flex;
            flex-direction: column;
            background-color: white;
            
    
            .image-press-section{
                width: 100%;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                border-bottom: black;
            }
    
    
            .input-file{
                transition: 0.2s ease;
             }
    
             .images{
                 width: 100%;
                 box-sizing: border-box;
                 align-items: center;
                 position: relative;
                 display: flex;
                 margin-top: 1vh;
                 transition: 1s ease;
    
                 %btn-styles{
                    position: absolute;
                    width: 8%;
                    height: 42%;
                    border: none;
                    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,212,255,0) 56%);
                    cursor: pointer;
                    opacity: 0.9;
                }
    
                 .image-buttons{
                    
                    height: 100%;
                    display: flex;
                    align-items: center;

                    #go-left{
                        background: url('./IMG/button-img-slider/left.svg') no-repeat;
                        background-position: center;
                        background-size: 30px;
                        @extend %btn-styles;
                        left: 0;
                        transform: translateY(0)
                    }
        
                    #go-right{
                        background: url('./IMG/button-img-slider/right.svg') no-repeat;
                        background-position: center;
                        background-size: 30px;
                        @extend %btn-styles;
                        right: 0;
                    }
                 }
    
                 .image-slide{
                    display: grid;
                    grid-auto-flow: column;
                    grid-gap: .5em;
                    padding: 10px;
                    overflow: hidden;
                    height: 100%;
                    align-items: center;
    
                            .image{
                                max-width: 100%;
                                height: 60px;
                                margin: 2px;
                                cursor: pointer;
                            }

                            .image-selected{
                                max-width: 100%;
                                height: 60px;
                                margin: 10px;
                                cursor: pointer;
                                border: 3px solid #0E8FFF;
                            }
                        
                 }
    
             }
        }
    }
}


input[type='file']{
    display: none;
}

@include media ('<=tablet'){
    body{

        .above-all{
            width: 100%;
        .image-scroll{
                width: 100%;
                height: 400px;

                .image-section{
                    height:100%;
                }
            }
}
           

    }
}
