@import '../breakpoints/breakpoints.scss';
$blue-color: #0E8FFF;
$main-color: #DEDEDE;

.image-thumbnail{
    position: relative;
    width: 100px;
    height: 100px;
    margin:  6px; 

    img{
        width: 100%;
        height: 100%;
        border-radius: 4px;
        border: 2px solid $main-color;
        max-width: 130px;
        transition: 0.1s;
        cursor: pointer;
        filter: grayscale(100%);

        &:hover, &:focus-within{
            filter: grayscale(0%);
            border: 2px solid $blue-color;
        }
    }

    .image-thumbnail-displayed{
        width: 100%;
        height: 100%;
        border-radius: 4px;
        border: 2px solid $blue-color;
        max-width: 130px;
        transition: 0.1s;
        cursor: pointer;
        filter:  blur(0px);

        &:hover, &:focus-within{
            border: 2px solid $blue-color;
        }
    }

    button{
        position: absolute;
        top: -4px;
        right: -10px;
        width: 20px;
        height: 20px;
        border: 1px solid red;
        border-radius: 100%;
        background: url('./img/minus-icon.svg') no-repeat;
        background-size: 16px;
        background-position: center;
        background-color:red;
        transition: 0.3s;
        cursor: pointer;

        &:hover, &:focus-within {
            width: 30px;
            height: 30px;
        }
    }
}