$blue-color: #0E8FFF;
$main-color: #DEDEDE;
@import '../breakpoints/breakpoints.scss';


%deleate-them-search-icon {
    width: 10%;
    height: 100%;
    cursor: pointer;
    transition: 0.5 ease;

    &:hover {
        background-color: #dedede;
    }

}



%parents-divs {
    display: flex;
    width: 60%;
    height: 550px;
    text-align: center;
    flex-direction: column;
    align-items: center;

    span {
        font-size: 26px;
        transition: 0.4s;
    }

    &:hover,
    &:focus-within {
        span {
            color: $blue-color;
        }
    }

    .search-bar {
        width: 95%;
        height: 30px;
        border-radius: 4px;
        background-color: white;
        border: 1px solid $main-color;
        transition: 0.4s;

        &:hover,
        &:focus-within {

            border: 1px solid $blue-color;

        }

        .search-inputs {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;


            .search {
                width: 80%;
                height: 100%;

                input {
                    width: 90%;
                    height: 80%;
                    text-align: center;
                    border: none;
                    outline: none;
                }
            }

            .deleate-them {
                background: url('./IMG/deleatethem.svg') center no-repeat;
                background-size: 18px;
                @extend %deleate-them-search-icon;
            }

            .search-icon {
                background: url('./IMG/searchinputs.svg') center no-repeat;
                background-size: 18px;
                @extend %deleate-them-search-icon;
            }
        }

    }

    .cards-result {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 0;
        overflow: scroll;
        transition: 0.3s;
        
        .parents-card {
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 90%;
            align-items: center;
            margin-top: 10px;

            &:empty {
                background: url('./IMG/searchinputs.svg') no-repeat;
                background-size: 80px;
                background-position: center;
                opacity: 0.8;
                border: 1px solid $main-color;
                border-radius: 4px;
                transition: 0.4s;

                &:hover,
                &:focus {
                    border: 1px solid $blue-color;
                }
            }

        }
    }


    &:focus-within {
        .search-bar {
            border: 1px solid $blue-color;
        }
    }
}

%information-cards {
    background-color: white;
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 4px;
}


.add-page {

    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: -1;
    animation: totoppage 0.6s forwards;

    .card {
        background: white;
        width: 60%;
        height: 100px;
    }




    .card-information {
        margin: 0;
        width: 55%;
        height: 300px;

        span {
            font-size: 26px;
        }


        &:hover,
        &:focus-within {
            span {
                color: $blue-color;
            }
        }

        .information-enter {
            @extend %information-cards;
            flex-direction: row;

            .first-half-form {

                display: flex;
                flex-direction: column;
                width: 40%;
                transition: 0.3s;

                

                .birth-date {
                    position: relative;
                    width: 100%;
                    transition: 0.3s;
                    margin: 25px 0;
                    display: flex;

                    #date {
                        background: none;
                        background-color: white;
                        font-size: 18px;
                        height: 40px;
                        display: block;
                        width: 100%;
                        border: 1px solid $main-color;
                        border-radius: 0;
                        left: 0;
                        color: grey;
                    }

                    label{
                        position: absolute;
                        font-size: 16px;
                        font-weight: normal;
                        left: 5px;
                        top: -22px;
                        transition: 0.3s;
                    }

                    &:focus-within, &:hover {

                        #date {
                            border: 1px solid $blue-color;
                        }

                        label {
                            font-size: 18px;
                            color: $blue-color;
                        }
                    }
                }
            }


            .second-half {
                display: flex;
                flex-direction: column;
                transition: 0.3s;
                width: 50%;

                .hierro {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    label {
                        font-size: 16px;
                        color: grey;
                    }

                    .hierro-section {
                        width: 92%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .image-select {
                            border: 1px solid $main-color;
                            height: 40px;
                            width: 70px;
                            background-color: white;
                            cursor: pointer;

                            &:focus-within {
                                border: 1px solid $blue-color;

                                .image-select-list {
                                    display: flex;
                                }
                            }

                            .image-select-list {
                                display: none;
                                position: absolute;
                                justify-content: center;
                                flex-direction: column;
                                width: 70px;
                                height: auto;
                                max-height: 250px;
                                overflow-y: auto;
                                background-color: white;
                                border-left: 1px solid $main-color;
                                border-bottom: 1px solid $main-color;
                                border-right: 1px solid $main-color;

                                button {
                                    margin-top: 5px;
                                    background-color: white;
                                    width: 95%;
                                    height: 40px;
                                    cursor: pointer;
                                    border: 1px solid $main-color;
                                    z-index: 3;

                                    &:hover {
                                        border: 1px solid $blue-color
                                    }
                                }
                            }
                        }

                        input {
                            background: none;
                            background-color: white;
                            font-size: 18px;
                            padding: 9px 9px 9px 5px;
                            display: block;
                            width: 100%;
                            border: 1px solid $main-color;
                            border-radius: 0;
                            margin: 3px 0;
                        }
                    }
                }

                
            }
        }

        .family-choose {
            margin-top: 10vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;


            .mother {
                @extend %parents-divs;
            }

            .father {
                @extend %parents-divs;
            }

        }


        .genetic-range {
            .genetic-information {
                @extend %information-cards;
                width: 100%;
                height: 300px;

                .porcentaje {
                    width: 90%;
                    text-align: right;
                    font-size: 26px;

                    &::after {
                        content: '%';
                    }

                    &::before {
                        content: 'Total:    ';
                        font-size: 18px;
                    }
                }

                .genetica {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                }
            }
        }


        .information-goals-enter {
            .goals-information {
                @extend %information-cards;
                flex-direction: column;
            }
        }

        .button-section {
            width: 50%;
            right: 0;
        }


        &:focus-within {
            a {
                color: $blue-color;
            }
        }
    }




}



@include media ('<=desktop') {
    body {


        .add-page {
            .card-information {
                .information-enter {

                    .first-half-form {
                        width: 30%;
                        transition: 0.3s;
                    }

                    .second-half {
                        width: 50%;

                        .sex-section {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}




@include media ('<=tablet') {
    body {
        .add-page {
            flex: none;
            justify-content: center;

            .image-scroll {
                width: 100%;
                height: 400px;

                .image-section {
                    height: 100%;
                }
            }

            .card-information {
                width: 95%;


                .information-enter {
                    margin-top: 2vh;
                    width: 100%;

                    .first-half-form {
                        width: 50%;
                        transition: 0.3s;
                    }

                    .second-half {
                        width: 50%;

                        .sex-section {
                            width: 100%;
                        }
                    }
                }

                .button-section {
                    margin-top: 4vw;
                    margin-bottom: 14vw;
                }
            }
        }
    }
}


@include media ('<=phone') {
    body {
        .add-page {
            width: auto;

            .image-scroll {
                width: 100%;
                height: 400px;
            }

            .card-information {
                width: 95%;


                .information-enter {
                    margin-top: 2vh;
                    width: 100%;

                    .first-half-form {
                        width: 30%;
                        transition: 0.3s;
                    }

                    .second-half {
                        width: 50%;

                        .sex-section {
                            width: 100%;
                        }
                    }
                }

                .family-choose {
                    flex-direction: column;

                    .mother {
                        width: 100%;
                    }

                    .father {
                        width: 100%;
                    }
                }

            }
        }
    }
}



@keyframes totoppage {
    0% {
        margin-bottom: 100vh;
        opacity: 0.5;
    }

    100% {
        margin-top: 10vh;
        opacity: 1;
    }
}