@import '../breakpoints/breakpoints.scss';

.profile-page{
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1s ease;
    margin-top: 10.25vh;
    
    .image-section{
        width: 40%;
        height: auto;
        top: 0;
    }

    .page{
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        justify-content: space-around;


        .information-side{
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            

            span{
                padding: 10px;
                font-size: 30px;
            }
        }

    }
}

@include media('<=tablet'){
    .profile-page{
        margin-top: 10.25vh;
        

        .page{
            width: 100%;
            display: block;

            .image-section{
                width:100%;
            }
    
            .information-side{
                width: 100%;
            }
        }
    }
}



@include media ('<=phone'){
    .profile-page{
        flex-direction: column;

        .profile-image{
            width:80%;
            height: 300px;
        }

        .information-card{
            width: 80%;
        }
    }
}
