@import '../breakpoints/breakpoints.scss';


$blue-color: #0E8FFF;

.signup-page{
    width: 100%;
    height: 90%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    animation: totoppage 0.6s forwards;

    .information-section{
 
        width: 50%;
        height: 500px;
        span{
            font-size: 25px;
            margin-bottom: 4px;
        }
        .information-card{
            .input-section{
                padding: 10px;
                width: 90%;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                
                .admin-section{
                    display: flex;
                    height: 26px;

                    span{
                        font-size: 20px;
                    }

                    .switch {
                        position: relative;
                        display: flex;
                        margin-left: 20px;
                      }
                      .switch-input {
                        display: none;
                      }
                      .switch-label {
                        display: block;
                        width: 48px;
                        height: 24px;
                        text-indent: -150%;
                        clip: rect(0 0 0 0);
                        color: transparent;
                        user-select: none;
                      }
                      .switch-label::before,
                      .switch-label::after {
                        content: "";
                        display: block;
                        position: absolute;
                        cursor: pointer;
                      }
                      .switch-label::before {
                        width: 45px;
                        height: 100%;
                        background-color: #dedede;
                        border-radius: 9999em;
                        -webkit-transition: background-color 0.25s ease;
                        transition: background-color 0.25s ease;
                      }
                      .switch-label::after {
                        top: 0;
                        left: 0;
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        background-color: #fff;
                        box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
                        -webkit-transition: left 0.25s ease;
                        transition: left 0.25s ease;
                      }
                      .switch-input:checked + .switch-label::before {
                        background-color: $blue-color;
                      }
                      .switch-input:checked + .switch-label::after {
                        left: 24px;
                      }
                }

            }


        }
        .button-side{
            width: 100%;
            display: flex;
            justify-content: center;
            .button-pack{
                width: 60%;
            }
        }
        &:focus-within{
            a{
                color: $blue-color
            }
        }
    }
}

@include media ('<=tablet'){
    .signup-page{
        .above-all{
          padding: 1em;
          width: 100%;
        }

        .information-section{
          padding: 1em;
          width: 100%;
          .button-side{
                margin-bottom: 8vh;
            }
        }
    }
}