@import '../breakpoints/breakpoints.scss';
$blue-color: #0E8FFF;
$main-color: #DEDEDE;

.carousel{
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;

    .edit{
        background: url('./img/edit.svg')no-repeat;
        background-size: 18px;
        background-position: center;
        width: 35px;
        height: 35px;
        background-color: white;
        border: 1px solid $main-color;
        border-radius: 100%;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        z-index: 3;
        transition: 0.3s;

        &:hover, &:focus{
            border: 1px solid $blue-color;
        }
    }

    .image{
        width: 100%;
        border-radius: 4px;
        border: 1px solid $main-color;
        height: 300px;
        display: flex;
        overflow: hidden;
        position: relative;
        align-items: center;
        max-width: 10000px;
        
        
        .slides{
            width: auto;
            height: 100%;
            transition: 0.8s ease;
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
            
            &:empty{
                background: url('./img/no-image.svg') no-repeat;
                background-size: 200px;
                background-position: center;
                width: 100%;
                height: 100%;
                
            }
        }

        #right{
            background: url('./img/goleft.svg') no-repeat; 
            background-size: 30px;
            background-position: left;
            position: absolute; 
            right: -25px;
            width: 55px;
            height: 55px;
            border: 1px solid #DEDEDE;
            background-color: white;
            border-radius: 100%;
            transform: 0.4s ease;
            cursor: pointer;

            &:hover, &:focus{        
                animation: hoverRight 0.4s forwards;
            }
        }

        #left{
            background: url('./img/goright.svg') no-repeat; 
            background-size: 30px;
            background-position: right;
            position: absolute;
            left: -25px;
            width: 55px;
            height: 55px;
            border: 1px solid #DEDEDE;
            background-color: white;
            border-radius: 100%;
            transform: 0.4s ease;
            cursor: pointer;

            &:hover, &:focus{
                animation: hoverFocusLeft 0.4s forwards;
            }

        }


    }


    .tiny-slides{
        height: 50px;
        width: 50px;
        cursor: pointer;
    }

    .selected-image{
        margin: 0 4px;
        width: 50px;
        height: 50px;
        animation: selectedanimation 0.3s forwards;
        cursor: pointer;

    }
}


@include media ('<=tablet'){
}



@keyframes hoverRight {

    0%{
        right: -25px;
        background-position: left;
    }

    100%{
        right: 8px;
        background-position: center;
    }
}

@keyframes hoverFocusLeft {
    
    0%{
        left: -25px;
        background-position: right;
    }

    100%{
        left: 8px;
        background-position: center;
    }
}

@keyframes selectedanimation {
    
    0%{
        margin: 0 20px;
        border: 1px solid white;
    }

    100%{
        margin: 0 10px;
        border: 2px solid #c4c4c4;
    }
}