$sub-color: grey;
$main-color: #DEDEDE;
$focus-color: #0E8FFF; 

.group {
  position: relative;
  width: 100%;
  &:focus-within{
    .form-input-label{
      font-size: 18px;
      color: $focus-color;
    }

    .form-input{
      border: 1px solid $focus-color;
    }
  }

  &:hover{
    .form-input-label{
      font-size: 18px;
      color: $focus-color;
    }

    .form-input{
      outline: 1px solid $focus-color;
    }
  }

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    height: 40px;
    display: block;
    width: 100%;
    border: 1px solid $main-color;
    border-radius: 4px;
    text-align: center;
    margin: 25px 0;
    transition: 0.3s;

    &:focus {
      outline: 1px solid $focus-color;
    }


  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  input[type='text-box']{
    height: 300px;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 5px;
    top: 0;
    transition: 0.3s;
  }
}