body{
    box-sizing: border-box;
    margin: 0;
    background-color: #ffffff;
    font-family: "Segoe UI";
    color: #707070;
}


::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background:#707070; 
    height: 6px;
    width: 60px;
}