@import '../breakpoints/breakpoints.scss';
$blue-color: #0E8FFF;
$sub-color: grey;
$main-color: #DEDEDE;

%bottom-section{
    width: 20%;
    height: 100%;
    transition: 0.3s ease-in-out;
}

%bottom-section-hover{
    background-position: center;
    background-size: 30px;
    background-color: #dedede;
    border-top: 1px solid $blue-color;
}


%bottom-section-active{
    background-size: 25px;
}

.navbar-bottom{
    margin: 0;
    background-color: white;
    width: 100%;
    height: 0;
    bottom: 0;
    position: fixed;    
    transition: 1s;
    border-top: 1px solid #dedede;
    z-index: 3;

    .home-button{
        background: url('./IMG/navbar-bottom/home/home.svg') no-repeat;
        background-size: 30px;
        background-position: center;
        @extend %bottom-section;

        &:hover{
            background: url('./IMG/navbar-bottom/home/home-pressed.svg') no-repeat;
            background-size: 30px;
            background-position: center;
            @extend %bottom-section-hover;
        }

        &:active{
            background-size: 25px;
            @extend %bottom-section-active;
        }
    }
    
    .trofeos-button{
        @extend %bottom-section;
        background: url('./IMG/navbar-bottom/thropies/thropie.svg') no-repeat;
        background-size: 30px;
        background-position: center;

        &:hover{
            background: url('./IMG/navbar-bottom/thropies/thropie-pressed.svg') no-repeat;
            background-size: 30px;
            background-position: center;
            @extend %bottom-section-hover;
        }

        &:active{
            background-size: 25px;
            @extend %bottom-section-active;
        }
    }
    
    .information{
        @extend %bottom-section;
        display: none;
        justify-content: center;
        align-items: center;

        .info{
            width: 30px;
            height: 30px;
            border-radius: 100%;
            transition: 0.4s;
            &:active{
                width: 25px;
                height: 25px;
            } 
        }

        &:hover, &:focus{
            border-top: 1px solid $blue-color;
        }
    }

    .log-in{
        background: url('./IMG/navbar-bottom/log-in/log-in.svg') no-repeat;
        background-size: 30px;
        background-position: center;
        @extend %bottom-section;

        &:hover, &:focus{
            background: url('./IMG/navbar-bottom/log-in/log-in-pressed.svg') no-repeat;
            background-size: 30px;
            background-position: center;
            @extend %bottom-section-hover;
        }

        &:active{
            background-size: 25px;
            @extend %bottom-section-active;
        }
    }
}

.grid-area{
    grid-area: navbar;
    position: relative;

    .navbar{
        width: 100%;
        display: grid;
        grid-area: navbar;
        grid-template-columns: .4fr 2fr .4fr;
        align-items: center;
        justify-items: center;
        z-index: 3;

        .logo{
            background: url('./IMG/logo.svg') no-repeat;
            background-position: center;
            background-size: 40px;
            width: 40px;
            height: 100%;
            cursor: pointer;
        }


        .profile-info{
            padding: 1em 2em;
            border-radius: 10px;
            text-align: center;
            background-color: $blue-color;
            color: white;
            font-weight: bold;
            transition: .3s;
            border:none;
            cursor: pointer;
            &:hover{
                color: $blue-color;
                background: white;
            }
        }

        .info-section{

            
            &:hover, &:focus-within{
                .information-card{
                    display: block;
                }
            }

            .info{
                height: 40px;
                width: 40px;
                border: 1px solid $main-color;
                border-radius: 100%;
                background-color: white;
                transition: 0.4s;
                outline: none;
                cursor: pointer;
                
                &:hover, &:focus {
                    -webkit-box-shadow: 0px 0px 0px 7px $blue-color;
                    -moz-box-shadow: 0px 0px 0px 2px $blue-color;
                    box-shadow: 0px 0px 0px 2px $blue-color;
                }
            }

            .no-image{
                background: url('./IMG/name-icon.svg') no-repeat;
                background-size: 40px;
                background-position: center;
                height: 40px;
                width: 40px;
                border: 1px solid $main-color;
                border-radius: 100%;
                background-color: white;
                transition: 0.4s;
                outline: none;
                cursor: pointer;   
                
                &:hover, &:focus {
                    -webkit-box-shadow: 0px 0px 0px 7px $blue-color;
                    -moz-box-shadow: 0px 0px 0px 2px $blue-color;
                    box-shadow: 0px 0px 0px 2px $blue-color;
                }
            }

            .information-card{
                display: none;
                width: 250px;
                height: 400px;
                padding: 0;
                z-index: 3;
                position: absolute;
                background-color: white;
                border-radius: 4px;
                margin-top: 1vh;
                transition: 0.4s;
                animation: informationcard 0.3s forwards;
                right: 20px;
                box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.2);
                
                
                .inside-card{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .profile-picture{
                        width: 100px;
                        height: 100px;
                        border-radius: 100%;
                        background-color: saddlebrown;
                    }
                }

                .below-card{
                    width: 100%;
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    bottom: 0;
                    span{
                        width: 100%;
                        height: 20%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        cursor: pointer;
                        &:hover, &:focus{
                            background: $main-color;
                        }
                    }
                    
                    .log-out{
                        bottom: 0;
                        position: absolute;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 10%;
                        border-top: 1px solid $main-color;
                        justify-content: center;
                        cursor: pointer;

                        &:hover, &:focus{
                            border:1px solid red;
                        }

                        &::before{
                            content: 'Desconectarse';
                            font-size: 20px;
                            color:red;
                        }
                    }
                }
            }
        }

        .button{
            background: url('./IMG/plus-button.svg') no-repeat;
            background-size: 40px;
            background-position: center ;
            height: 60px;
            width: 60px;
            border-radius: 10px;
            border: none;
            background-color: #0E8FFF;
            box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.2);
            position: fixed;
            right: 20px;
            bottom: 20px;
            cursor: pointer;
            z-index: 3;
            transition: 0.4s;

            &:hover, &:focus{
                width: 100px;
                border-radius: 10px;
            }

            &:active {
                background: url('./IMG/plus-button-active.svg') no-repeat;
                background-size: 40px;
                background-position: center ;
                background-color: grey;
            }
        }

    }
}

@include media ('<=tablet'){
    .navbar{

        .logo{
            padding: .4em;
            width: 40px;
        }

        .profile-info{
            display: block;
        }

        .info-section{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;

            .no-image{
                width: 40px;
            }
        }

    }
}

@keyframes informationcard {
    0%{
        top: 30px;
        opacity: 0.3;

    }

    100%{
        top: 50px;
        opacity: 1;
    }
}