@import '../breakpoints/breakpoints.scss';
$blue-color: #0E8FFF;
$main-color: #DEDEDE;

%empty {
    width: 100%;
    height: 100%;

    &:empty{
        width: 80%;
        height: 90%;
        background: url('./img/loader.svg') no-repeat;
        background-size: 100px;
        background-position: center;
        overflow: hidden;
        animation: 4s rotate infinite;
    }

    .no-response{
        width: 100%;
        height: 100%;
        background: url('./img/no-added.svg') no-repeat;
        background-size: 100px;
        background-position: center;
    }
}

%admin-privileges{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    transition: 0.1s;   
}

%sections{
    margin: 15px;
    width: 100%;
    height: 470px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    
    .cards-section{
        width: 1500px;
        height: 350px;
        margin-left: 40px;

        .title-span{
            position: sticky;
            left: 0;
        }
        .card{
            display: flex;
            flex-direction: row;
            @extend %empty;

        } 

        &:focus-within, &:hover{
            .title-span{
                color: $blue-color;
            }
        }
    }
}

.item-page{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .results-side{
        width: 60%;
        
        span{
            font-size: 26px;
            display: flex;
        }
            .admin-privileges{
                margin: 0 10px;

                .edit{
                    background: url('./img/edit.svg') no-repeat;
                    background-size: 15px;
                    background-position: center;
                    @extend %admin-privileges;
                    &:hover, &:focus {
                        -webkit-box-shadow: 0px 0px 0px 7px $blue-color;
                        -moz-box-shadow: 0px 0px 0px 2px $blue-color;
                        box-shadow: 0px 0px 0px 2px $blue-color;
                    }
                }

                .erase{
                    background: url('./img/trash-can.svg') no-repeat;
                    background-size: 15px;
                    background-position: center;    
                    @extend %admin-privileges;   
                    
                    &:hover, &:focus {
                        -webkit-box-shadow: 0px 0px 0px 7px red;
                        -moz-box-shadow: 0px 0px 0px 2px red;
                        box-shadow: 0px 0px 0px 2px red;
                    }
                }
            }

        
        
        
        .parents-section{
            @extend %sections;    
    }
    }



    .profile-section{
        width: 33%;
        height: auto;
    } 
}


@keyframes rotate {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}


@include media ('<=tablet'){
    .item-page{
        display: flex;
        justify-content: center;

        .profile-section{
            width: 95%;
        }

        .results-side{
            width: 100%;

            .main-title{
                display: none;
            }
        }
    }
}