@import '../breakpoints/breakpoints.scss';
$blue-color: #0E8FFF;
$main-color: #DEDEDE;

.container{
    width:80%;
    height: 600px;
    position: relative;
    background-color:white;
    border-radius: 4px;
    transition: 0.3s;
    display: flex;

    .x-button{
        background: url('./img/x-icon.svg') no-repeat;
        background-size: 25px;
        background-position: center;
        position: absolute;
        top: -10px;
        right: -10px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 1px solid red;
        background-color: white;
        transition: 0.3s;
        cursor: pointer;
        z-index: 3;

        &:focus-within, &:hover{
           width: 60px;
           height: 60px;
        }
    }


    .img-displayed{
        width: 50%;
        height: 100%;
        border-right: 1px solid $main-color;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        img{
            width: 95%;
            max-height: 100%;
            z-index: 1;
            border-radius: 4px;
        }

        .background{
            width: 100%;
            height: 100%;
            background-size: 8000%;
            position: absolute;
            z-index: 0;
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(0px) saturate(70%) grayscale(60%);
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    }

    .image-controller-section{
        width: 50%;
        height: 100%;   
        position: relative;

        .input{
            height: 20%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            

            label{
                height: 40%;
                width: 80%;
                background-color: white;
                border-radius: 4px;
                border: 2px solid $main-color;
                cursor: pointer;
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
        
        .images-thumbnails{
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            overflow-y: auto;
            transition: 0.3s;


            .no-images{
                width: 300px;
                height: 300px;
            }
            
            

        }
    }
    
    .button-section{
        width: 100%;
        height: 17%;
    }

}